@import "./styles/variables";
@import "./styles/navbar";
@import "./styles/hero";
@import "./styles/videoSection";




body{
  background-color: $color-background;
  margin: 0;
  font-family: $font-family-base;
}